@font-face {
    font-family: "MyRiadPro Regular";
    src: url('../fonts/MyriadPro-Regular.ttf')
}

@font-face {
    font-family: "MyRiadPro Bold";
    src: url('../fonts/MyriadPro-Bold.ttf');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "MyRiadPro Regular", serif;
    vertical-align: baseline;
}

.display {
    display: none;
}

.container {
    margin: 0 auto;
    padding: 0 10%;
    max-width: 1200px;
}

.header {
    background: #505866;
    padding: 1rem;
    border-bottom: 1px solid #505866;
}

.header-list {
    display: flex;
    justify-content: space-between;
}

.header-button {
    background: none;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}

.header-button--active {
    color: #BABABA;
    background: #3a4049 url('../images/header-top-button.png') no-repeat center left /cover;
}

.header-title {
    font-family: "MyRiadPro Regular", sans-serif;
    text-transform: uppercase;
    color: white;
}

.header-content {
    background: #4a515d;
}

.header-content-container {
    padding-top: 4rem;
}

.header-title {
    font-family: "MyRiadPro Bold";
    font-size: 2.3rem;
    font-weight: 100;
    max-width: 55%;
}

.header-title--rus {
    max-width: 100%;
}

.header-img-container {
    margin-top: 3rem;
}

.header-img {
    width: 100%;
}

.header-content-footer {
    background: #4a515d;
}

.header-content-low {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.header-title--grey {
    color: #C4C2C2;
    font-size: 1.7rem;
    max-width: 47%;
}

.header-low-button {
    background: url('../images/button-header-bg.png') no-repeat center center /cover;
    border: none;
    color: #9cefec;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "MyRiadPro Regular";
    padding: 1.05rem 2.3rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.devices-title-container {
    margin: 3rem 0;
    text-align: center;
}

.golden-title {
    font-family: "MyRiadPro Bold";
    font-weight: normal;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #a6895c;
}

.golden-title--rus {
    font-size: 2rem;
}

.devices-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.devices-item {
    text-align: center;
    flex: 1;
}

.devices-img {
    margin: 0 0 2rem 0;
}

.devices-link {
    font-family: "MyRiadPro Bold";
    color: #6796e9;
}

.devices-link:hover {
    color: #3463B6;
}

.devices-text {
    font-family: "MyRiadPro Bold";
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5;
}

.devices-text--rus {
    font-size: 1.5rem;
}

.devices-subinfo {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.devices-subtitle-container {
    flex: 1;
    text-align: right;
}

.devices-button-container {
    flex: 1;
}

.devices-subtitle {
    font-size: 2rem;
}

.devices-subtitle--rus {
    font-size: 1.7rem;
}

.button {
    padding: 1.5rem 1rem;
    border: none;
    background: #6796e9;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

.button--rus {
    max-width: 400px;
    padding: 1rem 2rem;
}

.devices-button {
    margin: 0 2rem;
}

.button:hover {
    background: #3463B6;
}

.form {
    background: #464d59 url('../images/map-image.png') no-repeat bottom right;
    height: 700px;
    padding-bottom: 5rem;
}

.form-info {
    color: white;
    text-align: center;
}

.form-title {
    font-size: 3rem;
    font-family: "MyRiadPro Bold";
    font-weight: normal;
    text-transform: uppercase;
    padding: 3rem 0 1rem 0;
}

.form-subtitle {
    font-size: 2.2rem;
}

.form-contacts {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1rem 0 0 0;
}

.contacts-text {
    color: #97989A;
}

.form-main {
    display: flex;
}

.inputs-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.input {
    margin: 2rem 0 0 0;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.input-text-area {
    font-size: 1.2rem;
}

.inputs-item {
    text-align: right;
}

.inputs-button {
    margin: 2rem 0 0 50%;
    width: 50%;
}

.input::placeholder {
    color: #C4C4C4;
    text-transform: uppercase;
    font-size: 1rem;
}

.text-error {
    color: red;
    margin: 0 2rem;
}

.form-thanks {
    margin-top: 1rem;
    background: #a6895c;
    border-radius: 5px;
    padding: 1rem 5rem;
    text-align: center;
}

.form-thanks--display {
    border: 1px solid white;
    max-width: 40%;
    margin: 2rem auto;
}

.thanks-text {
    color: white;
}

.input-correct {
    border: none;
    color: #9E855D;
}

.input-error {
    border: 1px solid red;
    color: red;
}

.inputs-item {
    border: 1px solid white;
    background-size: 20%;
}

.inputs-item:nth-of-type(1) {
    background: white url(../images/index-input-4.png) no-repeat 5% 50%;
}

.inputs-item:nth-of-type(2) {
    background: white url(../images/index-input-2.png) no-repeat 5% 50%;
}

.inputs-item:nth-of-type(3) {
    background: white url(../images/index-input-3.png) no-repeat 5% 50%;
}

.inputs-item:nth-of-type(4) {
    background: white url(../images/index-input-1.png) no-repeat 5% 50%;
}

.input-text-area {
    border: 1px solid white;
    background: white url(../images/index-input-3.png) no-repeat 5% 20%;
    text-align: right;
    padding: 1rem 1rem 2rem 8rem;
}

.inputs-item--rus:nth-of-type(1) {
    background: white url(../images/index-input-1-rus.png) no-repeat 5% 50%;
}

.inputs-item--rus:nth-of-type(2) {
    background: white url(../images/index-input-3-rus.png) no-repeat 5% 50%;
}

.inputs-item--rus:nth-of-type(3) {
    background: white url(../images/index-input-5-rus.png) no-repeat 5% 50%;
}

.inputs-item--rus:nth-of-type(4) {
    background: white url(../images/index-input-4-rus.png) no-repeat 5% 50%;
}

.input-text-area--rus {
    background: white url(../images/index-input-6-rus.png) no-repeat 5% 20%;
}

@media screen and (max-width: 1024px) {
    .header-title {
        font-size: 2rem;
    }
    .header-title--grey {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 820px) {
    .header-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .devices-list {
        flex-direction: column;
    }
    .devices-subtitle-container {
        text-align: center;
        margin: 1rem 0;
    }
    .devices-subinfo {
        flex-direction: column;
    }
    .form-main {
        margin: 1rem 0;
        flex-direction: column;
    }
    .inputs-item, .input-text-area {
        padding: 0.75rem 2rem;
        margin: 0.5rem 0 0 0;
        font-size: 0.9rem;
    }
    .button {
        font-size: 1rem;
        margin: 2rem auto;
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 520px) {
    .header-list {
        flex-direction: column;
        align-items: center;
    }
    .header-title {
        font-size: 1.4rem;
        max-width: 100%;
        text-align: center;
    }
    .header-content-low {
        flex-direction: column;
    }
    .header-low-button {
        margin: 1rem 0;
    }
    .golden-title {
        font-size: 1.2rem;
    }
    .devices-text {
        font-size: 1.1rem;
    }
    .inputs-group {
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .text-error {
        text-align: center;
    }
    .inputs-item, .input-text-area {
        padding: 1.5rem 2rem 1rem 2rem;
    }
    .inputs-item:nth-of-type(1) {
        background: white url(../images/index-input-4.png) no-repeat 5% 10%;
    }
    .inputs-item:nth-of-type(2) {
        background: white url(../images/index-input-2.png) no-repeat 5% 10%;
    }
    .inputs-item:nth-of-type(3) {
        background: white url(../images/index-input-3.png) no-repeat 5% 10%;
    }
    .inputs-item:nth-of-type(4) {
        background: white url(../images/index-input-1.png) no-repeat 5% 10%;
    }
    .input-text-area {
        background: white url(../images/index-input-3.png) no-repeat 5% 10%;
    }
    .form-title {
        font-size: 1.6rem;
    }
    .form-subtitle {
        font-size: 1.4rem;
    }
    .inputs-item--rus:nth-of-type(1) {
        background: white url(../images/index-input-1-rus.png) no-repeat 5% 10%;
    }
    .inputs-item--rus:nth-of-type(2) {
        background: white url(../images/index-input-3-rus.png) no-repeat 5% 10%;
    }
    .inputs-item--rus:nth-of-type(3) {
        background: white url(../images/index-input-5-rus.png) no-repeat 5% 10%;
    }
    .inputs-item--rus:nth-of-type(4) {
        background: white url(../images/index-input-4-rus.png) no-repeat 5% 10%;
    }
    .input-text-area--rus {
        background: white url(../images/index-input-6-rus.png) no-repeat 5% 10%;
    }
}